<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSCommonTool.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC20D18256CF3C80063845A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC20D2E256CF3CC0063845A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC20D39256CF3CD0063845A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
